{% extends 'base.html.twig' %}

{% block body %}
  <h1>edit article</h1>

  {{ form_start(articleForm) }}
  {{ form_widget(articleForm) }}
  <button type="submit" class="btn btn-primary">Update!</button>
  {{ form_end(articleForm) }}
{% endblock %}

